@import "tailwindcss";
@plugin "daisyui" {
  themes: light, sunset;
}

@layer utilities {
  .bg-dot-pattern {
    background-color: var(--color-base-100);
    opacity: 1;
    background-image: radial-gradient(var(--color-base-300) 1px, var(--color-base-100) 1px);
    background-size: 10px 10px;
  }
}
